@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #100a09;
    --background: #f7f3f2;
    --primary: #563b34;
    --secondary: #bdb893;
    --accent: #d8603b;
  }
  .dark {
    --text: #f6f0ef;
    --background: #0d0908;
    --primary: #cbb0a9;
    --secondary: #6c6742;
    --accent: #d8603b;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
